body{
    background-color: rgb(35, 35, 35);
}
button,
    #hmbt{
    background-color: #3c2e33;
    padding: 20px;
    margin: 10px;
    position: center;
    margin-right: auto;
    border: none;
    border-radius: 15px;
}
a[href]{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Trebuchet MS';
    font-weight: bold;
}
nav{
    margin-left: 100px;
    margin-right: auto;

}
.welcome{
    background-color: #ffffff;
    margin: 0 auto;
}

form{
    margin-top: 100px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.2)0px 7px 29px 0px;
    text-align: center;
    padding-left: 0 auto;
    padding-right: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
#sub{
    border-width: 1px;
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px;
}
#fname, #lname, #email, #comments{
    background-color: #ffffff;
    border-width: 2px;
    border-color: rgb(210, 210, 210);
    border-radius: 6px;
    opacity: 100%;
    font-family: 'Times New Roman';
    color: black;
    margin-top: 10px;
    padding: 10px;
}
#sub:hover{
    color: blue;
}