body{
    background-color: rgb(30, 30, 30);
}
button,
    #hmbt{
    background-color: #3c2e33;
    padding: 20px;
    margin: 10px;
    position: center;
    margin-right: auto;
    border: none;
    border-radius: 15px;
}
a[href]{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Trebuchet MS';
    font-weight: bold;
}
nav{
    margin-left: 100px;
    margin-right: auto;

}
.welcome{
    background-color: #3c2e33;
    margin: 0 auto;
}

form{
    font-family: 'Trebuchet MS';
    font-size: 18px;
    color: white;
    background-color: rgb(14, 59, 75);
    border: none;
    border-radius: 100px;
    text-align: center;
    padding: 100;
    width: auto;
    margin: 20;
    height: auto;
    opacity: 100%;
}
#field{
    color: rgb(255, 255, 255);

}
#sub{
    background-color: #9f838d;;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: auto;
}
#fname, #lname, #email, #comments{
    background-color: #9f838d;
    border-width: 1px;
    border-radius: 14px;
    padding: 5px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    opacity: 100%;
}