.hd1{
    left: 0;
    color: rgb(57, 57, 57);
    font-weight: bold;
    font-size: 40px;
    padding-top: 20px;
    padding-right: 500px;
    padding-left: 100px;
    padding-bottom: 30px;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: auto;
    margin-bottom: 50px;
    background-color:rgb(202, 202, 202);
}
body{
    background-color: #34282C;
    
}
nav{
    margin-left: 100px;
    margin-right: auto;

}
button{
    background-color: aqua;
    padding: 20px;
    margin: 10px;
    position: center;
    margin-right: auto;
    border: none;
}
