*{
    font-family:'Trebuchet MS';
}
.section{
    background-color: rgb(202, 202, 202);
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    padding-top: 20px;
    padding-right: 500px;
    padding-left: 100px;
    padding-bottom: 30px;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    width: fit-content;
}
nav{
    margin-left: 100px;
    margin-right: auto;

}
button,
    #hmbt{
    background-color: #3c2e33;
    padding: 20px;
    margin: 10px;
    position: center;
    margin-right: auto;
    border: none;
    border-radius: 15px;
    margin-left: 100px;
}
a[href]{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Trebuchet MS';
    font-weight: bold;
}
body{
    background-color:#34282C;
}

  a[href]:hover{
    padding-left:21px;
    padding-right: 21px;
    transition-duration: 0.7s;
}
#services{
    padding-left: 10px;
    display: flex;
    background-color: rgb(121, 146, 121);
    border-width: 1px;
    border: black;
    padding-right: auto;
    
}
#services, h2{
    color: white;
}
p{
    color: rgb(47, 47, 47);
}
h1{
    text-align: center;
    color: white;
}
#companies{
    display: flex;
    background-color: rgb(121, 146, 121);
    border-width: 1px;
    border: black;
    padding-left: 10px;
    padding-right: auto;
}
#companies, h2{
    color: white;
}
#navbox{
    background-color: #1a1416;
    margin: 0;
}