.hd1{
    left: 0;
    color: rgb(187, 134, 134);
    font-weight: bold;
    font-size: 50px;
    padding-right: 500px;
    margin-left: 100px;
    margin-right: auto;
}
.hd1:hover{
    color: pink;
}
body{
    background-color: rgb(30, 30, 30);
}