h1{
    font-weight: bold;
    font-family: 'Times New Roman';
    color: rgb(187, 134, 134);
}
p{
    color: rgb(167, 167, 226);
    size: 12;
    font-family: 'Times New Roman';
}
body{
    background: linear-gradient(135deg, rgb(48, 48, 48), rgb(0, 0, 0))
}
.hd1{
    text-align: left;   
    color: rgb(187, 134, 134);
    font-weight: bold;
    font-size: 50px;
}
.hd1:hover{
    color: pink;
}