.hd1{
    left: 0;
    color: rgb(57, 57, 57);
    font-weight: bold;
    font-size: 40px;
    padding-top: 20px;
    padding-right: 500px;
    padding-left: 100px;
    padding-bottom: 30px;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: auto;
    margin-bottom: 50px;
    background-color:rgb(202, 202, 202) ;
    /*background-image: url(https://thumbs.dreamstime.com/b/falling-digital-numbers-grey-background-abstract-binary-computer-code-falling-digital-numbers-grey-background-abstract-102612797.jpg);*/
}
.nav{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav:hover{
    color: rgb(132, 63, 63);
    padding:0;
    margin: 0;
}
.hd1:hover{
    color:rgb(102, 102, 102);
}
body{
    background-color: rgb(30, 30, 30);
}
.container{
    height: 500px;
    width: auto;
    background: linear-gradient(180deg, rgb(71, 74, 74)
    ,rgb(47, 35, 35));
    border-radius: 5%;
    opacity: 100%;
}
.form{
    block-size: auto;
    padding-left: 275px;
}
#center {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    padding-left: 275px;
  }
.form {
    text-align: center;
    display: inline-block;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-family:'Impact';
    border-radius: 6px;
}
.div1{
    align-items: center;
    text-align: center;
    font-family:'Impact';
}
.formhd1{
    text-align: center;
}
nav{
    margin-left: 100px;
    margin-right: auto;

}
a[href="contact.html"], a[href="projects.html"], a[href="test.html"]a[href="homepage.html"]{
    font-size: 20px;
    color: pink;
    padding: 15px;
    text-decoration: none;
    padding-top: 20px;
}
a[href="contact.html"], a[href="projects.html"], a[href="test.html"] a[href="homepage.html"]:hover{
    color: rgb(255, 168, 183);
    block-size: auto;
}
.div1{
    background-color:#34282C;
    height: auto;
    width: 200px;
}
.container2{
    color: lightpink;
    font-size: 18px;
    padding-left: 100px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
    border-radius: 2ppx;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    align-items: right;
  }
  
  .skills {
    text-align: right; /* Right-align text */
    padding-top: 0px; /* Add top padding */
    padding-bottom: 0px; /* Add bottom padding */
    color: white; /* White text color */
  }
  
  /*.ht {width: 80%; background-color: #04AA6D;}  Green */
  .ht {width:70%; background-color: orange; border-radius: 20px; padding:6px; font-weight: bold; color: #34282C;}
  .css {width: 70%; background-color: lightcoral; border-radius: 20px; padding:6px; font-weight: bold; color: #34282C;} /* Blue */
  .python {width: 65%; background-color: coral; border-radius: 20px; padding:6px; font-weight: bold; color: #34282C;} /* Red */
  .project {width: 60%; background-color: green; border-radius: 20px; padding:6px; font-weight: bold; color: #34282C;} /* Dark Grey */
  .russian {width: 90%; background-color: lightgoldenrodyellow; border-radius: 20px; padding:6px; font-weight: bold; color: #34282C;} /* Dark Grey */

  #percentage{
    text-align: right;
    padding-right: 200px;
  } 
  header{
    text-align: center;
    color: lightpink;
    border: black;
    border-width: 10px;
  }
  .nav-id{
        list-style-type: none;
        margin: 0;
        padding: 0;
  }
  br{
    position: left;
  }